<form [formGroup]="service.form" class="normal-form">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controllers-container">
        <input type="hidden" formControlName="$key">

        <mat-form-field>
          <input matInput formControlName="name" placeholder="Name">
          <!--<mat-error>This field is mandatory.</mat-error>-->
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="position" placeholder="Position">
          <!--<mat-error>This field is mandatory.</mat-error>-->
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="mobile" placeholder="Mobile">
          <!--<mat-error>This field is mandatory.</mat-error>-->
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="controllers-container">
        <div class="add-bottom-padding">
          <div class="button-row">
            <button mat-raised-button color="primary" type="submit" [disabled]="">Submit</button>&nbsp;
            <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
